{% extends "base.html" %}
{% block content %}
{% load static %}
{% block extrastyle %}
    <link href="{% static 'box-stat.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Dashboard</h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Dashboard
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
      <div class="col-12">
        <div class="row bg-white p-4">
          <div class="col-md-3 col-sm-3">
            <div class="stat-box stat-box-small blue">
              <div class="stat-icon">
                <span class="icon" aria-hidden="true">
                  <i class="mdi mdi-file-check"></i>
                </span>
              </div>
              <div class="stat-value">
                <span class="stat-label-top">Jumlah Kontrak</span>
                <p>&nbsp;</p>
                <b class="stat-num" style="">{{tot_kontrak}}</b>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-3">
            <div class="stat-box stat-box-small green">
              <div class="stat-icon">
                <span class="icon icon-coin-dollar" aria-hidden="true">
                  <i class="mdi mdi-bank"></i>
                </span>
              </div>
              <div class="stat-value">
                <span class="stat-label-top">Daftar Perusahaan</span>
                <p>&nbsp;</p>
                <b class="stat-num" style="">{{tot_perusahaan}}</b>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-3">
            <div class="stat-box stat-box-small orange">
              <div class="stat-icon">
                <span class="icon icon-coin-dollar" aria-hidden="true">
                  <i class="mdi mdi-cash-multiple"></i>
                </span>
              </div>
              <div class="stat-value">
                <span class="stat-label-top">Jumlah Kwitansi</span>
                <p>&nbsp;</p>
                <b class="stat-num" style="">{{tot_kwitansi}}</b>                
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-3" style="padding-right: 0px;">
            <div class="stat-box stat-box-small purple">
              <div class="stat-icon">
                <span class="icon icon-coin-dollar" aria-hidden="true">
                  <i class="mdi mdi-walk"></i>
                </span>
              </div>
              <div class="stat-value">
                <span class="stat-label-top">Surat Jalan</i></span>
                <p>&nbsp;</p>
                <b class="stat-num" style="">{{tot_suratjalan}}</b>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Container fluid  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- footer -->
  <!-- ============================================================== -->
  <footer class="footer text-center">
    All Rights Reserved by Matrix-admin. Designed and Developed by
    <a href="https://www.wrappixel.com">WrapPixel</a>.
  </footer>
  <!-- ============================================================== -->
  <!-- End footer -->
  <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
{% endblock %}

{% block extrascript %}

{% endblock %}
