{% extends "base.html" %}
{% block content %}
<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Detail Kwitansi</h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                <a href="{% url 'list_kwitansi' %}">Daftar Kwitansi</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Detail
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="navbar-nav float-start me-auto">
              <h5 class="card-title mb-0">Detail Kwitansi - <b>{{rows.no_kwitansi}} </b></h5>
            </div>
            <div class="navbar-nav float-end me-auto">
              <button class="btn btn-primary" id="printBtn"><i class="me-2 mdi mdi-printer"></i>Cetak</button>
            </div>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>NO.<br>ORDER</th>
                <th>JENIS BARANG</th>
                <th colspan="2">JUMLAH</th>
                <th>HARGA</th>
                <th>TOTAL</th>
              </tr>
            </thead>
            <tbody>
              {% load humanize %}
              {% for row2 in rows2 %}
              <tr>
                 <td style="text-align:center">{{ forloop.counter }}</td>
                 <td>{{ row2.2 }}</td>
                 <td style="text-align:right">{{ row2.4 }}</td>
                 <td>{{ row2.7 }}</td>
                 <td style="text-align:right">Rp. {{ row2.5 | intcomma }}</td>
                 <td style="text-align:right">Rp. {{ row2.6 | intcomma }}</td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <td colspan="5" style="text-align:center"><b>TOTAL</b></td>
                <td style="text-align:right"><b>Rp. {{ total | intcomma }}</b></td>
              </tr>
              <tr>
                <td colspan="5" style="text-align:center"><b>PPN (11%)</b></td>
                <td style="text-align:right"><b>Rp. {{ pajak | intcomma }}</b></td>
              </tr>
              <tr>
                <td colspan="5" style="text-align:center"><b>TOTAL TERMASUK PPN (11%)</b></td>
                <td style="text-align:right"><b>Rp. {{ totalall | intcomma }}</b></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->

    <div id="print_area" style="width: 100%;" class="d-none">
      <div class="text-center" style="text-align: center">
        <h1>
          <b>UD. AUNIS PRINT & OFFSET</b>
        </h1>
        <span>Jl. Manunggal Lr. Meohai No. 8 Anduonohu Kota Kendari</span> <br>
        <span>Hp. 0852 4151 2849 E-mail: annisyahelf@gmail.com</span>
        <hr style="height:5px; border-top:1px solid black; border-bottom:2px solid black;">
        <h2>KWITANSI</h2>
      </div>
      <table style="width:100%" border="1" cellspacing="0">
        <thead>
          <tr>
            <th>NO.<br>ORDER</th>
            <th>NAMA BARANG</th>
            <th colspan="2">JUMLAH</th>
            <th>HARGA</th>
            <th>TOTAL</th>
          </tr>
        </thead>
        <tbody>
          {% load humanize %}
          {% for row2 in rows2 %}
          <tr>
             <td style="text-align:center">{{ forloop.counter }}</td>
             <td>{{ row2.7 }}</td>
             <td style="text-align:right; border-right: none !important;">{{ row2.4 }}</td>
             <td>{{ row2.3 }}</td>
             <td style="text-align:right;">{{ row2.5 | intcomma }}</td>
             <td style="text-align:right">{{ row2.6 | intcomma }}</td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5" style="text-align:center"><b>TOTAL</b></td>
            <td style="text-align:right"><b>{{ total | intcomma }}</b></td>
          </tr>
          <tr>
            <td colspan="5" style="text-align:center"><b>PPN (11%)</b></td>
            <td style="text-align:right"><b>{{ pajak | intcomma }}</b></td>
          </tr>
          <tr>
            <td colspan="5" style="text-align:center"><b>TOTAL TERMASUK PPN (11%)</b></td>
            <td style="text-align:right"><b>{{ totalall | intcomma }}</b></td>
          </tr>
        </tfoot>
      </table>
    </div>

  </div>

  <!-- ============================================================== -->
  <!-- End Container fluid  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- footer -->
  <!-- ============================================================== -->
  <footer class="footer text-center">
    All Rights Reserved by Matrix-admin. Designed and Developed by
    <a href="https://www.wrappixel.com">WrapPixel</a>.
  </footer>
  <!-- ============================================================== -->
  <!-- End footer -->
  <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
{% endblock %}

{% block extrascript %}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript">
$(document).ready(function(){
  $('#Set_tgl').html(function(){
    let v = $(this).html().replace(/[^a-z 0-9]/gi,'').split(' ');
    let d = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
    let dx = ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'];

    return `Kendari, ${v[1]} ${dx[d.indexOf(v[0])]} ${v[2]}`;
  });

  $('th').css('text-align', 'center');

  $('#printBtn').click(function(){
    console.log('print');var divContents = document.getElementById("print_area").innerHTML;  
       var printWindow = window.open('', '', 'height=600,width=900');  
       printWindow.document.write('<html><head><title>Print DIV Content</title>');  
       printWindow.document.write('</head><body >');  
       printWindow.document.write(divContents);  
       printWindow.document.write('</body></html>');  
       printWindow.document.close();  
       printWindow.print();  
  })
})
</script>
{% endblock %}
