{% extends 'base.html' %}
{% block content %}
{% load widget_tweaks %}
<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Data Kwitansi</h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                <a href="{% url 'list_kwitansi' %}">Daftar Kwitansi</a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="navbar-nav float-start me-auto">
              <h5 class="card-title mb-0">Data Kwitansi</h5>
            </div>
          </div>
          <form method="post" action="" enctype="multipart/form-data">
              <div class="card-body">
                <h4 class="card-title">Tambah Data</h4>
                  {% csrf_token %}
                  
                  {% comment %} {{ form }} {% endcomment %}
                 

                  <div class="input_fields_wrap">
                    <div class="card-body">
                      <div class="navbar-nav float-start me-auto">
                        <h5 class="card-title mb-0">Daftar Barang</b></h5>
                      </div>
                      <div class="navbar-nav float-end">
                        <button class="add_field_button btn btn-sm btn-primary"><i class="mdi mdi-plus"></i> Tambah Kolom</button>
                      </div>
                    </div>
                    <hr/>
                    <div class="row">
                      <div class="form-group col-md-2">
                        <label for="Satuan">Code Purchase</label>
                        <input type="text" name="Code_Purchase" class="form-control" id="Code_Purchase" placeholder="Code Purchase">
                      </div>
                      <div class="form-group col-md-1">
                        <label for="Satuan">No Kontrak</label>
                        <input type="text" name="no_kontrak" class="form-control" id="no_kontrak" placeholder="No Kontrak">
                      </div>
                      <div class="form-group col-md-2">
                        <label for="Satuan">Nama Barang</label>
                        <input type="text" name="nama_barang" class="form-control" id="nama_barang" placeholder="Nama Barang">
                      </div>
                      <div class="form-group col-md-1">
                        <label for="Satuan">Spesifikasi</label>
                        <input type="text" name="spesifikasi" class="form-control" id="spesifikasi" placeholder="Spesifikasi">
                      </div>
                      <div class="form-group col-md-1">
                        <label for="Satuan">Satuan</label>
                        <input type="text" name="satuan" class="form-control" id="satuan" placeholder="Satuan">
                      </div>
                      <div class="form-group col-md-1">
                        <label for="Satuan">Jumlah</label>
                        <input type="number" name="jumlah" class="form-control" id="jumlah" placeholder="Jumlah">
                      </div>
                      <div class="form-group col-md-2">
                        <label for="Satuan">Harga</label>
                        <input type="number" name="harga" class="form-control" id="harga" placeholder="Harga">
                      </div>
                      <div class="form-group col-md-2">
                        <label for="Satuan">Total</label>
                        <input type="number" name="total" class="form-control" id="total" placeholder="Total" readonly>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="id_perusahaan">Nama Perusahaan</label>
                        <select id="id_perusahaan" class="form-control zxc" name="id_perusahaan" required style="width:100%">
                          {% for row in rows %}
                            <option value="{{ row.id }}">{{ row.nama_perusahaan }}</option>
                          {% endfor %}
                        </select>
                      </div>
                      
                      <div class="form-group col-md-2">
                        <label for="jumlah">Tgl Order</label>
                        <input type="date" name="tgl_order" class="form-control" id="tgl_order" placeholder="Tgl Order">
                      </div>
                      <div class="form-group col-md-2">
                        <label for="harga">Waktu</label>
                        <input type="text" name="waktu" class="form-control" id="waktu" placeholder="Waktu">
                      </div>
                      <div class="form-group col-md-2">
                        <label for="harga">Tgl Penyerahan</label>
                        <input type="date" name="tgl_penyerahan" class="form-control" id="tgl_penyerahan" placeholder="Tgl Penyerahan">
                      </div>
                    </div>
                    {% comment %} <div class="row">
                      <div class="col-6">
                        <select id="id_isikontrak" class="form-control" name="id_isikontrak" required id="id_id_isikontrak">
                        {% for row in rows %}
                          <option id="{{ row.id }}" value="{{ row.id }}">{{ row.nama_barang }}</option>
                        {% endfor %}
                        </select>
                      </div>
                      <div class="col-1">
                        <input type="text" name="jumlah" placeholder="Jumlah"/>
                      </div>
                      <div class="col-1">
                        <input type="text" name="nomor_dos" placeholder="Nomor Dos"/>
                      </div>
                    </div> {% endcomment %}
                  </div>
                </div>
                <div class="modal-footer">
                  <a type="button" href="{% url 'list_pdf' %}" class="btn btn-secondary float-end mb-3 mx-1">
                    Batal
                  </a>
                  <button type="submit" class="submit-btn btn btn-primary float-end mb-3 mx-1">Simpan</button>
                </div>
              </form>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Container fluid  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- footer -->
  <!-- ============================================================== -->
  <footer class="footer text-center">
    All Rights Reserved by Matrix-admin. Designed and Developed by
    <a href="https://www.wrappixel.com">WrapPixel</a>.
  </footer>
  <!-- ============================================================== -->
  <!-- End footer -->
  <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->

{% endblock %}


{% block extrascript %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>


    <script type="text/javascript">
        // add row
    $(document).ready(function() {
        $('#harga, #jumlah').keyup(function() {
          var jumlah = $('#jumlah').val() ?? 0;
          var harga = $('#harga').val() ?? 0;
          var total = jumlah * harga;
          $('#total').val(total);
        });          

            var max_fields      = 10; //maximum input boxes allowed
            var wrapper   		= $(".input_fields_wrap"); //Fields wrapper
            var add_button      = $(".add_field_button"); //Add button ID

            var x = 1; //initlal text box count
            $(add_button).click(function(e){ //on add input button click
                e.preventDefault();
                if(x < max_fields){ //max input box allowed
                    x++; //text box increment
                    //$(wrapper).append('<div><select id="id_isikontrak" name="id_isikontrak" required id="id_id_isikontrak">{% for row in rows %} <option id="{{ row.id }}" value="{{ row.id }}">{{ row.nama_barang }}</option> {% endfor %} </select><input type="text" name="jumlah"/><input type="text" name="nomor_dos"/><a href="#" class="remove_field">Remove</a></div>'); //add input box
                    let uid = Math.random().toString(16).slice(2);
                    $(wrapper).append(`
                      <div class="row">
                        <div class="form-group col-md-2">
                          <label for="Satuan">Code Purchase</label>
                          <input type="text" name="Code_Purchase" class="form-control" id="Code_Purchase" placeholder="Code Purchase">
                        </div>
                        <div class="form-group col-md-1">
                          <label for="Satuan">No Kontrak</label>
                          <input type="text" name="no_kontrak" class="form-control" id="no_kontrak" placeholder="No Kontrak">
                        </div>
                        <div class="form-group col-md-2">
                          <label for="Satuan">Nama Barang</label>
                          <input type="text" name="nama_barang" class="form-control" id="nama_barang" placeholder="Nama Barang">
                        </div>
                        <div class="form-group col-md-1">
                          <label for="Satuan">Spesifikasi</label>
                          <input type="text" name="spesifikasi" class="form-control" id="spesifikasi" placeholder="Spesifikasi">
                        </div>
                        <div class="form-group col-md-1">
                          <label for="Satuan">Satuan</label>
                          <input type="text" name="satuan" class="form-control" id="satuan" placeholder="Satuan">
                        </div>
                        <div class="form-group col-md-1">
                          <label for="Satuan">Jumlah</label>
                          <input type="number" name="jumlah" class="form-control" id="jumlah" placeholder="Jumlah">
                        </div>
                        <div class="form-group col-md-2">
                          <label for="Satuan">Harga</label>
                          <input type="number" name="harga" class="form-control" id="harga" placeholder="Harga">
                        </div>
                        <div class="form-group col-md-2">
                          <label for="Satuan">Total</label>
                          <input type="number" name="total" class="form-control" id="total" placeholder="Total" readonly>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="id_perusahaan${uid}">Nama Perusahaan</label>
                          <select id="id_perusahaan${uid}" class="form-control zxc" name="id_perusahaan" required style="width:100%">
                            {% for row in rows %}
                              <option value="{{ row.id }}">{{ row.nama_perusahaan }}</option>
                            {% endfor %}
                          </select>
                        </div>
                        
                        <div class="form-group col-md-2">
                          <label for="jumlah">Tgl Order</label>
                          <input type="date" name="tgl_order" class="form-control" id="tgl_order" placeholder="Tgl Order">
                        </div>
                        <div class="form-group col-md-2">
                          <label for="harga">Waktu</label>
                          <input type="text" name="waktu" class="form-control" id="waktu" placeholder="Waktu">
                        </div>
                        <div class="form-group col-md-2">
                          <label for="harga">Tgl Penyerahan</label>
                          <input type="date" name="tgl_penyerahan" class="form-control" id="tgl_penyerahan" placeholder="Tgl Penyerahan">
                        </div>
                        <div class="form-group col-md-1">
                          <a href="#" class="remove_field btn btn-sm btn-danger"><i class="mdi mdi-close"></i></a>
                        </div>
                      </div>  
                    `);
                    $('#id_isikontrak'+uid).select2();
                }
            });

            $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
                e.preventDefault(); $(this).parent('div').parent('div').remove(); x--;
            })
        });
    </script>


    <script type="text/javascript">
        // select
    $(document).ready(function() {
        $('.zxc').select2({
            placeholder: 'Pilih barang'
        });

        $('#id_tanggal').attr('type', 'date');
    });
    </script>
<script>
  $('textarea').attr('rows', 3);

  $('input[name="tanggal"]').attr('type', 'date');
</script>
{% endblock %}
