{% extends 'base.html' %}
{% block content %}
{% load widget_tweaks %}
<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Data Kwitansi</h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Data Kwitansi
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="navbar-nav float-start me-auto">
              <h5 class="card-title mb-0">Data Kwitansi</h5>
            </div>
          </div>
          <form method="post" action="">
            {% csrf_token %}

            <div class="modal-header">
              <h3 class="modal-title">Tambah Data Kwitansi</h3>

            </div>

            <div class="modal-body">

              <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
                {% for error in form.non_field_errors %}
                  {{ error }}
                {% endfor %}
              </div>

              {% for field in form %}
                <div class="form-group">
                  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                  {% render_field field class="form-control" placeholder=field.label %}
                  <div class="{% if field.errors %} invalid{% endif %}">
                    {% for error in field.errors %}
                      <p class="help-block">{{ error }}</p>
                    {% endfor %}
                  </div>
                </div>
              {% endfor %}
            </div>

            <div class="modal-footer">
              <a type="button" href="{% url 'list_kwitansi' %}" class="btn btn-secondary float-end mb-3 mx-1">
                Batal
              </a>
              <button type="submit" class="submit-btn btn btn-primary float-end mb-3 mx-1">Simpan</button>
            </div>

          </form>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Container fluid  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- footer -->
  <!-- ============================================================== -->
  <footer class="footer text-center">
    All Rights Reserved by Matrix-admin. Designed and Developed by
    <a href="https://www.wrappixel.com">WrapPixel</a>.
  </footer>
  <!-- ============================================================== -->
  <!-- End footer -->
  <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->

{% endblock %}


{% block extrascript %}
<script>
  $('textarea').attr('rows', 3);

  $('input[name="tanggal"]').attr('type', 'date');
</script>
{% endblock %}
