{% extends 'base.html' %}
{% block content %}
{% load widget_tweaks %}
{% comment %} <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Add or Remove Input Fields Dynamically using jQuery - MyNotePaper</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
</head> {% endcomment %}
<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
      <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
          <h4 class="page-title">Tambah Kwitansi</h4>
          <div class="ms-auto text-end">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                
                <li class="breadcrumb-item active" aria-current="page">
                  <a href="{% url 'list_kwitansi' %}">Daftar Kwitansi</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Ubah Data
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <form method="post" action="" enctype="multipart/form-data">
              <div class="card-body">
                <h4 class="card-title">Tambah Data</h4>
                  {% csrf_token %}
                  
                  <div class="row">
                    {% for field in form %}
                      <div class="form-group col-6">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {% if field.name == 'no_kwitansi' %}
                            <input type="text" class="form-control" name="no_kwitansi" required id="id_no_kwitansi" value="{{data_kwitansis.no_kwitansi}}" />
                        {% elif field.name == 'penerima' %}
                            <input type="text" class="form-control" name="penerima" required id="id_penerima" value="{{data_kwitansis.penerima}}" />
                        {% elif field.name == 'tanggal' %}
                            <input type="text" class="form-control" name="tanggal" required id="id_tanggal" value="{{data_kwitansis.tanggal | date}}" />
                        {% endif %}

                        {% comment %} {% render_field field class="form-control" value=field.name placeholder=field.label %} {% endcomment %}
                        <div class="{% if field.errors %} invalid{% endif %}">
                          {% for error in field.errors %}
                            <p class="help-block">{{ error }}</p>
                          {% endfor %}
                        </div>
                      </div>
                    {% endfor %}
                  </div>

                  <div class="input_fields_wrap">
                    <div class="card-body">
                      <div class="navbar-nav float-start me-auto">
                        <h5 class="card-title mb-0">Daftar Barang</b></h5>
                      </div>
                      <div class="navbar-nav float-end">
                        <button class="add_field_button btn btn-sm btn-primary"><i class="mdi mdi-plus"></i> Tambah Kolom</button>
                      </div>
                    </div>
                    <hr/>
                    {% for row1 in rows1 %}
                    <div class="row">
                      <div class="form-group col-md-6">
                        {% if forloop.counter == 1 %} <label for="id_isikontrak">Barang</label> {% endif %}
                       <input type="text" name="id_isikontrak" class="form-control" id="id_isikontrak" placeholder="Nama Barang" value={{row1.id_isikontrak}}>
                      </div>
                      <div class="form-group col-md-1">
                        {% if forloop.counter == 1 %} <label for="inputCity">Satuan</label> {% endif %}
                        {{ form1.satuan }}
                      </div>
                      <div class="form-group col-md-1">
                        {% if forloop.counter == 1 %} <label for="nomor_dos">Jumlah</label> {% endif %}
                        <input type="number" name="jumlah" class="form-control" id="jumlah" placeholder="Jumlah" value={{row1.jumlah}}>
                      </div>
                      <div class="form-group col-md-1">
                        {% if forloop.counter == 1 %} <label for="inputCity">Harga</label> {% endif %}
                        <input type="number" name="harga" class="form-control" id="harga" placeholder="Harga" value={{row1.harga}}>
                      </div>
                      {% if forloop.counter != 1 %}
                      <div class="form-group col-md-1">
                        <a href="#" class="remove_field btn btn-sm btn-danger"><i class="mdi mdi-close"></i></a>
                      </div>
                      
                      {% endif %}
                    </div>
                    {% endfor %}
                    {% comment %} <div class="row">
                      <div class="col-6">
                        <select id="id_isikontrak" class="form-control" name="id_isikontrak" required id="id_id_isikontrak">
                        {% for row in rows %}
                          <option id="{{ row.id }}" value="{{ row.id }}">{{ row.nama_barang }}</option>
                        {% endfor %}
                        </select>
                      </div>
                      <div class="col-1">
                        <input type="text" name="jumlah" placeholder="Jumlah"/>
                      </div>
                      <div class="col-1">
                        <input type="text" name="nomor_dos" placeholder="Nomor Dos"/>
                      </div>
                    </div> {% endcomment %}
                  </div>
                </div>
                <div class="modal-footer">
                  <a type="button" href="{% url 'list_kwitansi'%}" class="btn btn-secondary float-end mb-3 mx-1">
                    Batal
                  </a>
                  <button type="submit" class="submit-btn btn btn-primary float-end mb-3 mx-1">Simpan</button>
                </div>
              </form>
            </div>
          </div>
        </div>
  
      <!-- ============================================================== -->
      <!-- End PAge Content -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Right sidebar -->
      <!-- ============================================================== -->
      <!-- .right-sidebar -->
      <!-- ============================================================== -->
      <!-- End Right sidebar -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer text-center">
      All Rights Reserved by Matrix-admin. Designed and Developed by
      <a href="https://www.wrappixel.com">WrapPixel</a>.
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Page wrapper  -->
  <!-- ============================================================== -->
</body>

{% endblock %}

{% block extrascript %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>


    <script type="text/javascript">
        // add row
    $(document).ready(function() {
            var max_fields      = 10; //maximum input boxes allowed
            var wrapper   		= $(".input_fields_wrap"); //Fields wrapper
            var add_button      = $(".add_field_button"); //Add button ID

            var x = 1; //initlal text box count
            $(add_button).click(function(e){ //on add input button click
                e.preventDefault();
                if(x < max_fields){ //max input box allowed
                    x++; //text box increment
                    //$(wrapper).append('<div><select id="id_isikontrak" name="id_isikontrak" required id="id_id_isikontrak">{% for row in rows %} <option id="{{ row.id }}" value="{{ row.id }}">{{ row.nama_barang }}</option> {% endfor %} </select><input type="text" name="jumlah"/><input type="text" name="nomor_dos"/><a href="#" class="remove_field">Remove</a></div>'); //add input box
                    let uid = Math.random().toString(16).slice(2);

                    $(wrapper).append(`
                      <div class="row">
                        <div class="form-group col-md-6">
                          <input type="text" name="id_isikontrak" class="form-control" id="id_isikontrak" placeholder="Nama Barang" >
                        </div>
                        <div class="form-group col-md-1">
                        {{ form1.satuan }}
                      </div>
                      <div class="form-group col-md-1">
                        <input type="number" name="jumlah" class="form-control" id="jumlah" placeholder="Jumlah">
                      </div>
                      <div class="form-group col-md-1">
                        <input type="number" name="harga" class="form-control" id="harga" placeholder="Harga">
                      </div> 
                        <div class="form-group col-md-1">
                          <a href="#" class="remove_field btn btn-sm btn-danger"><i class="mdi mdi-close"></i></a>
                        </div>
                      </div>
                    `);

                    $('#id_isikontrak'+uid).select2();
                }
            });

            $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
                e.preventDefault(); $(this).parent('div').parent('div').remove(); x--;
            })
        });
    </script>


    <script type="text/javascript">
        // select
    $(document).ready(function() {
        $('.zxc').select2({
            placeholder: 'Pilih barang'
        });

        $('#id_tanggal').val(function(){
            let v = $(this).val().replace(/[^a-z 0-9]/gi,'').split(' ');
            let d = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
            v[0] = (d.indexOf(v[0]) + 1).toString();

            return `${v[2]}-${v[0]<10 ? '0'+v[0] : v[0]}-${v[1]<10 ? '0'+v[1] : v[1]}`
        })

        $('#id_tanggal').attr('type', 'date');
    });
    </script>
{% endblock %}
